<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
  </head>
  <body>
    <header id="header">
        <p></p>
    </header>
    <main id="main">
        <table border="1">
        <tr>
            <th>restaurant_id</th>
            <th>name</th>
            <th>address</th>
            <th>borough</th>
            <th>cuisine</th>
            <th>grades</th>
        </tr>
        <tr>
            <td>{{restaurant.restaurant_id}}</td>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.address}}</td>
            <td>{{restaurant.borough}}</td>
            <td>{{restaurant.cuisine}}</td>
            <td>{{restaurant.grades}}</td>
        </tr>
    </table>
    </main>
    <footer id="footer">
        <p></p>
    </footer>    
  </body>
</html>