<main id="main">
  <div id="Sample Resturatant">

  </div>
  <table border="1">
    <tr>
      <th>Restaurant Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Borough</th>
      <th>Cuisine</th>
      <th>Grades</th>
    </tr>
    {{#each data}}
      <tr>
        <tr>
          <td>{{this.restaurant_id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.address.street}}</td>
          <td>{{this.borough}}</td>
          <td>{{this.cuisine}}</td>
          <td>{{this.grades.0.grade}}</td>
        </tr>
      </tr>
    {{/each}}
  </table>
</main>