<header id="header">
  <p>Please enter the details</p>
</header>
<form method="GET" action="/api/restaurants" enctype="text/plain">
  <label> Enter the number of pages :</label><br>
  <input type="text" name="page" placeholder="1-10.." /><br>
  <label> Enter the number of items for each page :</label><br>
  <input type="text" name="perPage" placeholder="number" /><br>
  <label> Enter the borough :</label><br>
  <input type="text" name="borough" placeholder="borough" /><br>
</form>
<main id="main">
  <table border="1">
    <tr>
      <th>restaurant_id</th>
      <th>name</th>
      <th>address</th>
      <th>borough</th>
      <th>cuisine</th>
      <th>grades</th>
    </tr>
    <tr>
      <td>{{restaurant.restaurant_id}}</td>
      <td>{{restaurant.name}}</td>
      <td>{{restaurant.address}}</td>
      <td>{{restaurant.borough}}</td>
      <td>{{restaurant.cuisine}}</td>
      <td>{{restaurant.grades}}</td>
    </tr>
  </table>
</main>