<header id="header">
  <p>Please enter the details</p>
</header>
<form method="GET" action="/api/restaurants" enctype="text/plain">
  <label> Enter the number of pages :</label><br>
  <input type="text" name="page" placeholder="1-10.." /><br>
  <label> Enter the number of items for each page :</label><br>
  <input type="text" name="perPage" placeholder="number" /><br>
  <label> Enter the borough :</label><br>
  <input type="text" name="borough" placeholder="borough" /><br>
  <input type="submit" value ="Display">
</form>
<main id="main">

  <div id="Sample Resturatant">

  </div>
  <table border="1">
    <tr>
      <th>restaurant_id</th>
      <th>name</th>
      <th>address</th>
      <th>borough</th>
      <th>cuisine</th>
      <th>grades</th>
    </tr>
    {{#each data}}
    <tr>
      {{! Step-8: This #if expression is for step 8, skips the books where page count is 0}}
      {{#if data.perPage }}
        <tr>
          <td>{{this.restaurant_id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.address}}</td>
          <td>{{this.borough}}</td>
          <td>{{this.cuisine}}</td>
          <td>{{this.grades}}</td>
        </tr>
      {{/if}}
    </tr>
  {{/each}}
  </table>
</main>